@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;700&display=swap');

:root {
    --white: #eee;
    --red: #e60800;
    --almost: #eb703f;
    --correct: green;
    --box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
    --text-shadow-dark: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.7);
    --text-shadow-light: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100%;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--white);
    background: #333 url('../images/bg.jpg') no-repeat right bottom;
    background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Plus Jakarta Sans', cursive;
    color: var(--white);
    margin-bottom: 2.5rem;
}

p {
    margin: 2rem 0;
    text-align: justify;
    text-justify: inter-word;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    margin: 1.6rem;
    text-align: center;
    letter-spacing: 0.2rem;
    color:var(--white);
}

ul {
    margin-bottom: 2rem;
}

button {
    border: 0;
    padding: 1.6rem 3.2rem 1.6rem 3.2rem;
    background-color: var(--almost);
    color: var(--white);
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 500;
    border-radius: 0.5rem;
    text-transform: uppercase;
    box-shadow: var(--text-shadow-light);
    border: 2px solid var(--almost);
    transform: translateX(0);
    transition: all 0.3s ease-in;
}

button:hover {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    color: white;
}

button:active {
    background-color: white;
    color: var(--almost);
}

section {
    width: 70%;
    margin: 0 auto;
}

/* Navigation */

nav {
    min-height: 10vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
}

nav > * {
    padding: 20px;
}

.logo {
    padding-left: 3rem;
}

.logo a {
    font-family: 'Plus Jakarta Sans', cursive;
    color: var(--white);
    font-weight: 700;
    font-size: 5rem;
}

.nav-links ul {
    display: flex;
    justify-content: end;
    margin-right: 2rem;
    list-style-type: none;
}

.nav-links a {
    padding: 0 10px;
    text-decoration: none;
}

.nav-links a:hover {
    transition: 0.5s ease;
    color: var(--red);
}

#active {
    color: var(--red);
    text-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.9);
}

/* Container */
.container {
    width: 100%;
    min-height:70vh;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
}

.container > * {
    margin: 0 auto;
}

header h1 {
    font-size: 7.2rem;
    text-align: center;
}

/* Home page button container */

.homepage-container {
    width: 100%;
    min-height:85vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
}

.btn-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}

.btn-container a:hover {
    text-decoration: none;
    transition: 0.8s ease;
    color: var(--red);
    transition: 0.8s ease;
}

/* Game Page */

#game-container {
    width: 60%;
    min-height: 70vh;
    margin: 0 auto;
    text-align: center;
}

#score {
    font-size: 3.6rem;
    font-weight: 700;
}

.counters {
    display: flex;
    justify-content: space-between;
    margin: 3rem 0;

}

#progress-bar {
	border: 0.2rem solid var(--red);
	height: 1rem;
	margin: 2rem;
}

#progress-full {
	height: 0.6rem;
	background-color: var(--red);
	width: 0%;
}

input {
    width: 4rem;
    height: 4rem;
    padding: 0.5rem;
    margin: 0.5rem;
    margin-top: 3rem;
    border: 0;
    border-radius: 0.3rem;
    font-size: 2.4rem;
    text-align: center;
    background-color: var(--white);
    color: #222;
    text-transform: uppercase;
}

input:focus,
textarea:focus {
    border: 0;
    border-bottom: 0.3rem solid var(--primary-color);
    box-shadow: 0px 0px 1.5rem .5rem rgba(255, 24, 62, 0.5);    
    outline: 0;
}

/* https://css-tricks.com/html-inputs-and-labels-a-love-story/ */
.hidden-label {
    border-width: 0 !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
  
}

#no-of-rounds, 
#no-of-letters {
    font-size: 1.8rem;
    padding: 1rem;
    width: 6rem;
}

#difficulty {
    height: 4rem;
    padding: 1rem;
    margin-top: 2rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.box {
    background-color: var(--white);
    color: #333;
    display: inline-block;
    width: 4rem;
    height: 4rem;
    margin: 0.5rem;
    border-radius: 0.2rem;
}

#guesses {
    margin-top: 2rem;
}

.guess-text {
    margin: 0.5rem;
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;
}

.result-text {
    font-size: 2.4rem;
}

.game-over {
    color: var(--red);
    font-size: 3.6rem;
    font-weight: 700;
    letter-spacing: 2px;
}

#result p.score {
    font-size: 10rem;
    font-weight: 700;
}

.correct-answer {
    font-size: 2.4rem;
    padding: 2rem;
}

.correct-answer span {
    display: block;
    font-size: 3.6rem;
    text-transform: uppercase;
}

.definition {
    font-size: 1.6rem;
}

.definition a {
    text-transform: none;
    margin: 0;
    letter-spacing: 0;
    background: -webkit-linear-gradient(var(--red) 0%, var(--almost) 51%, var(--red) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* https://cssloaders.github.io/ */
.loader {
    width: 48px;
    height: 48px;
    margin: 0 auto;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid var(--white);
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

.loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-left: 4px solid var(--red);
    border-bottom: 4px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
}

/* Settings Page */

#settings-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.settings-input {
    margin: 1rem;
}

/* Guess/Next Round buttons */

.game-btn {
  background: var(--red);
  border: 1px solid var(--red);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Plus Jakarta Sans",sans-serif;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 1.8rem 3.6rem;
  text-transform: uppercase;
  text-align: center;
  text-rendering: geometricprecision;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  margin-top: 3rem;
}

.game-btn:hover,
.game-btn:active {
  background-color: initial;
  background-position: 0 0;
  color: var(--red);
}

.game-btn:active {
  opacity: .5;
 }

 /* Conditional answer classes */
 
 .wrong {
    color: #333;
}

.almost {
    color: var(--almost);
    background-color: #f2ddb6;
    border-bottom: 0.3rem solid var(--almost);
}

.correct {
    color: green;
    background-color: #c4ecc4;
    border-bottom: 0.3rem solid green;
}

/* Footer */

footer {
    width: 100%;
    min-height: 15vh;
    color: white;
    font-weight: bold;
    align-items: center;
    justify-items: center;
}

footer ul {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    list-style: none;
}

footer a {
    padding: 0 10px;
    text-decoration: none;
    font-size: 3.6rem;
    color: white;
}

footer a:hover {
    transition: 0.4s ease;
}

#facebook:hover {
    color: #4267b2;
}

#twitter:hover {
    color: #00acee;
}

/* https://stackoverflow.com/questions/37751375/instagram-new-logo-css-background */
/* https://css-tricks.com/snippets/css/gradient-text/ */

#instagram:hover {
    background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

#youtube:hover {
    color: red;
}

.footer-links a {
    font-size: 1.4rem;
}

/* Contact Form */

#contact-form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#contact-form input {
    width: 100%;
}

#contact-form textarea {
    font-family: 'Plus Jakarta Sans', sans-serif;
    border-radius: 0.3rem;
}

#contact-form input,
#contact-form textarea {
    font-size: 1.6rem;
    text-align: left;
    padding: 1rem;
    margin: 0.3rem 0 2rem 0;
}

#submit-btn-container {
    width: 60%;
    margin: 0 auto;
}

#submit-btn-container input[type="submit"] {
    text-align: center;
    color: var(--white);
}

#submit-btn-container input[type="submit"]:hover {
    color: var(--red);
    transition: 0.5s all;
}

#errors {
    color: var(--red);
    font-weight: 700;
}

.error-message, 
.thanks-message {
    text-align: center;
}

.error-message h1 {
    color: var(--red);
    font-size: 15rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 0;
}

.error-message h2,
.thanks-message h2 {
    font-size: 3rem;
    text-transform: uppercase;
    margin: 0;
}

.thanks-message h1 {
    color: var(--red);
    font-size: 7.5rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 0;  
}

/* Utility classes */

.display-none {
    display: none;
}

/* Animations */

@keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

/* Media Queries */

@media screen and (max-width: 1000px) {
    #game-container {
        width: 90%;
    }
}

@media screen and (max-width: 800px) {
    html {
        font-size: 56.25%;
    }

    .nav-links ul {
        justify-content: space-evenly;
    }

    .logo {
        text-align: center;
        padding-left: 0;
    }

    .container {
        min-height:65vh;
    }

    #game-container {
        width: 91%;
        min-height: 59vh;
    }
}
@media screen and (max-width: 600px) {
    input, 
    .box {
        width: 3rem;
        height: 3rem;
        margin: 0.2rem;
    }

    .box {
        height: 3.4rem;
    }

    #contact-form {
        width: 80%;
    }
}

@media screen and (max-width: 480px) {
    html {
        font-size: 56.25%;
    }

    section {
        width: 80%;
    }
}

@media screen and (max-width: 360px) {
    html {
        font-size: 50%;
    }
    section {
        width: 90%;
        margin: 0 auto;
    }
    .container {
        min-height:55vh;
    }
}